@model Employee
@{
    ViewData["Title"] = "Success";
}

<a asp-action="Index">List of employee</a>

<h2>@Model.Name  Added Successfully</h2>
<img src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*" />
